@use './partials/header';
@use './partials/main';
@use './partials/footer';
@use './partials/bluebar';
@use '../node_modules/bootstrap/scss/bootstrap.scss';

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


img {
  max-width: 100%;
}

h1 {
  margin-bottom: 0;
}