@use './variables' as*;

footer {


    .upper_footer {
        background-image: url(../img/footer-bg.jpg);

        .logo_layer_footer {
            background-image: url('../img/dc-logo-bg.png');
            background-repeat: no-repeat;
            background-position: right;

        }
    }

    span {
        font-weight: bold;
        color: $light;
        align-self: center;
    }

    h5 {
        color: $light;
        text-transform: uppercase;
        margin-top: auto;
    }

    ul {
        list-style: none;
        padding-left: 0;

        a {
            text-decoration: none;
            color: $grey;
            font-weight: 400;
        }
    }

    .bottom_footer {
        background-color: $secondBlack;

        padding: 2rem;

        .btn {
            border: 2px solid $blue;
            border-radius: 0%;
            color: $light;
            background-color: none;
            margin-left: 2rem;
            text-transform: uppercase;
        }

        h5 {
            color: $blue;
        }
    }

    img {
        padding-left: 1rem;
    }
}