@use './variables' as*;

header {


    .logo {
        width: 80px;
        aspect-ratio: 1/1;
        margin-left: 1rem;

    }

    nav {
        text-transform: uppercase;

    }

    .link_box {

        border-bottom: 2px solid $light;
        padding: 2rem 0;

        a {
            text-decoration: none;
            color: $dark;
            font-weight: bold;
        }

        &:hover {
            border-bottom: 2px solid $blue;
        }

        &.active {
            border-bottom: 2px solid $blue;
        }
    }


}